*,
::after,
::before {
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:root {
    --color-1: beige;
    --color-2: rgb(212, 201, 141);
    --color-3: rgb(114, 57, 16);
    --pink: rgb(247, 64, 103);
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3 {
    margin: 0;
    color: var(--color-3);
}

button {
    background: none;
    border: none;
}

ul {
    list-style: none;
    padding: 0;
}

[class^="ri-"],
[class*=" ri-"] {
    font-size: 2rem;
}