.home {
    min-height: 100vh;
    background: url("../cakes-images/bakery3.jpg") no-repeat;
    background-size: cover;
    color: beige;
    overflow: auto;
    font-size: 1.4em;
}

.home-info {
    backdrop-filter: blur(10px);
    width: 70%;
    margin-left: 1em;
    padding: .3em;
    font-weight: bold;
    margin-top: 50px;
}

.home h1 {
    color: white;
    white-space: nowrap;
}