/*****************
Products Container
******************/

.products {
    display: flex;
    width: 90%;
    margin: auto;
    padding-bottom: 1em;
    padding-top: 1em;
}

.product-container {
    margin: auto;
}

.products-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1em;
}

.products-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1em;
}

.sidebar {
    display: none;
    padding-right: 2em;
}

/*****************
Product Element
******************/

.product {
    background: rgb(219, 219, 182);
    box-shadow: 1px 1px 5px black;
    cursor: pointer;
}

.product-grid {
    /*width: 40vw;*/
    display:flex;
    flex-direction: column;
}

.product-grid > img {
    object-fit: cover;
    width: 100%;
    height: 140px;
}

.product-list {
    display:flex;
    flex-direction: row;
    height: 140px;
}

.product-list > img {
    object-fit: cover;
    min-width: 40%;
    height: 100%;
}

.info-product-grid {
    display:flex;
    justify-content: space-between;
    padding: 0 .2em;
    align-items: flex-start;
    font-size: 1.1em;
}

.info-product-list {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: .4em .2em;
    align-items: flex-start;
    font-size: 1.1em;
    text-overflow: ellipsis;
}

.cost{
    font-weight: bold;
    color:rgb(25, 25, 94);
}

.description {
    text-overflow: ellipsis;
    overflow: hidden;
}

/*****************
Product Element
******************/

.single-page-container {
    min-height: 100vh;
}

.single-product {
    background: rgb(219, 219, 182);
    box-shadow: 1px 1px 5px black;
    display:flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

.single-product-info {
    display: flex;
}

.single-product img {
    object-fit: cover;
    width: 40%;
    min-height: 100%;
}

.go-back-arrow {
    font-size: 1em;
    color: rgb(56, 51, 3);
    padding: .5em;
}

.single-product-button {
    padding: .5em 0;
    font-size: 1.3em;
    background: rgb(247, 64, 103);
}

/*****************
Media
******************/

@media (min-width:900px){
    .sidebar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2px;
    }

    .sidebar button {
        font-size: 1.2em;
        color:rgb(77, 57, 32);
        padding: 0;
    }

    .sidebar h2 {
        font-size: 1.5em;
    }

    .product-container {
        width: 623px;
    }
}

@media (min-width:1200px){
    .product-container {
        width: 1024px;
    }

    .products-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}