.App {
    background: beige;
    font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

header span {
    color: rgb(247, 64, 103);
    font-family: 'Titan One', cursive;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em;
}

.header-menu h1 {
    font-family: 'Lobster', cursive;
}

.header-nav {
    background: rgb(218, 218, 161);
    display: flex;
    justify-content: center;
    gap:10%;
    padding: .5em;
    font-size: 1.5em;
    color:rgb(77, 57, 32);
    position: relative;
}

.nav-pointer {
    position: absolute;
    border-bottom: 3px solid rgb(77, 57, 32);
    transition: all 0.3s ease;
}