.App {
    height: 100vh;
    background: beige;
}

header span {
    color: rgb(247, 64, 103);
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em;
}

.header-nav {
    background: rgb(218, 218, 161);
    display: flex;
    justify-content: center;
    gap:3em;
    padding: .5em;
    font-size: 1.5em;
    color:rgb(121, 89, 51);
    position: relative;
}

.nav-pointer {
    position: absolute;
}