.cart {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    min-height: 100vh;
    max-width: 1024px;
}

.cart hr {
    margin-top: 10px;
    border: 1px solid rgb(88, 71, 50);
}

.cart p {
    font-size: 1.2em;
}

.cart h3 {
    font-size: 1.4em;
}

.cart-item {
    display: flex;
    height: 5vh;
    width: 100%;
    justify-content: space-between;
}

.cart-left-div {
    display: flex;
    gap: 1em;
    align-items: stretch;
    height: 100%;
}

.cart-rigth-div {
    display: flex;
    gap: 1em;
    align-items: center;
    height: 100%;
}

.cart-item .image {
    aspect-ratio: 1 / 1;
}

.cart-item h3 {
    align-self: center;
}

.cart-cost {
    display: flex;
    justify-content: space-between;
}