header span {
    color: var(--pink);
    font-display: optional;
    font-family: 'Titan One', cursive;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em;
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
}

.header-menu h1 {
    font-display: optional;
    font-family: 'Lobster', cursive;
}

.header-nav {
    background: var(--color-2);
    display: flex;
    justify-content: center;
    gap: 10vw;
    padding: .5em;
    font-size: 1.5em;
    color: var(--color-3);
    position: relative;
    z-index: 1;
}

.header-nav a {
    z-index: 3;
    font-weight: 600;
}

.focused {
    color: white;
}

.nav-pointer {
    position: absolute;
    background-color: var(--color-3);
    transition: all 0.3s ease;
    min-height: 100%;
    z-index: 2;
    animation: .5s ease-out fadeIn;
    animation-iteration-count: 1;
}

.cart-link {
    position: relative;
}

.cart-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 45%;
    background-color: red;
    color: white;
    width: 1.2em;
    height: 1.2em;
    font-size: 1em;
    font-weight: 600;
    right: 0;
    top: -16px;
}

.ri-shopping-cart-fill,
.ri-shopping-cart-line {
    height: 32px;
    width: 32px;
}

.none {
    display: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 409px) {
    .header-nav {
        gap: 0px;
        justify-content: space-between;
    }
}