.home {
    min-height: 100vh;
    min-width: 100vw;
    background-size: cover;
    color: rgb(56, 51, 3);
    overflow: auto;
    font-size: 1em;
}

/************************
Seccion 1 - Informacion
************************/

.home-section-1 {
    width: 100%;
    min-height: 100vh;
    font-weight: bold;
    position: relative;
    margin: 0 auto;
    background: beige;
    padding: 2em;
}

.home-section-1 img {
    aspect-ratio: 1 / 1;
    position: absolute;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 15px;
}

.bakery1 {
    display:none;
}

.bakery2 {
    display: none;
}

.bakery3 {
    display: none;
}

.home-info {
    color: beige;
    width: 50vw;
    z-index: 10;
    position: absolute;
    padding: 1em;
    margin: 20% auto auto 1rem;
    animation: .5s ease-out fadeIn;
    animation-iteration-count: 1;
    backdrop-filter: blur(10px);
}

.home-info h1 {
    color: beige;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
    }
}

/************************
Seccion 2 - Carousel
************************/

.home-section-2 {
    margin: 0 auto;
    background: beige;
    height: 500px;
    padding-top: 100px;
    padding-left: 0;
    padding-right: 0;
} 

.home-section-2 h1 {
    margin-left: .5em;
}

/************************
Seccion 3 - Chefs
************************/

.home-section-3 {
    min-height: 100%;
    margin: 0 auto;
    background: beige;
    padding: 2em;
    padding-bottom: 200px;
}

.home-section-3-chefs {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 10px;
    margin-top: 50px;
    text-align: center;
    gap: 2rem;
}

.chef-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
}

.chef {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    
}

.chef img {
    width: 180px;
    height: 270px;
    object-fit: cover
}

.kermit {
    transform: translateY(100px);
    opacity: 0;
    transition: .5s ease-out;
}

.swedish {
    transform: translateY(100px);
    opacity: 0;
    transition: .5s ease-out;
}

.monster {
    transform: translateY(100px);
    opacity: 0;
    transition: .5s ease-out;
}

.chef-description {
    width: 200px;
}

.show {
    transform: translateY(0px);
    opacity: 1;
}


/************************
Media Queries
************************/

@media (min-width: 570px) {
    .home-section-1 {
        background-image: none;
    }

    .bakery1 {
        display: block;
        top: 5%;
        right: 5%;
        z-index: 2;
        height: 30vh;
        animation: 1.2s ease-out slideIn;
        animation-iteration-count: 1
    }
    
    .bakery2 {
        display: block;
        top: 30%;
        right: 20%;
        z-index: 1;
        height: 30vh;
        animation: 1s ease-out slideIn;
        animation-iteration-count: 1
    }
    
    .bakery3 {
        display: block;
        top: 55%;
        right: 15%;
        z-index: 4;
        height: 30vh;
        animation: 1.1s ease-out slideIn;
        animation-iteration-count: 1
    }
}

@media (min-width: 615px) {
    .chef-cards {
        align-items: flex-start;
        flex-direction: row;
        justify-content: center;
        gap: 5vw;
    }
    .chef {
        width: 180px;
        flex-direction: column;
    }
    .chef img {
        width: 100%;
    }
    .chef-description {
        width: 100%;
    }

}

@media (min-width: 900px) {
    .home-section-2 {
        padding-left: 2em;
        padding-right: 2em;
    }

    .home-section-2 h1 {
        margin-left: 0;
    }

    .home-info {
        width: 450px;
    }
}

@media (min-width: 1140px) {

    .chef {
        width: 260px;
    }

    /* .home-section-1,
    .home-section-2,
    .home-section-3 {
        width: 900px;
    } */

    .home-info {
        font-size: 1.5em;
    }
}

/* @media (min-width: 1340px) {
    .home-section-1,
    .home-section-3 {
        width: 1300px;
    }
} */