/*****************
Products Container
******************/

.products {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 1em;
    padding-top: 1em;
    min-height: 100vh;
}

.product-container {
    width: 100%;
}

.products-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;
    gap: 50px 40px;
}

.products-list {
    display: flex;
    flex-direction: column;
    gap: 50px 40px;
}

.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: .5em;
    border-top: 1px solid var(--color-3);
    border-bottom: 1px solid var(--color-3);
}

/*Drop down menu*/

.back-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

.menu-container {
    position: relative;
    background-color: white;
}

.dropDown-button {
    cursor: pointer;
    width: 180px;
    height: 100%;
    font-size: 1em;
    color: var(--color-3);
    background-color: var(--color-1);
    word-spacing: 5em;
    padding: .6em 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropDown-button:hover {
    color:var(--pink);
}

.menu {
    position: absolute;
    background-color: var(--color-1);
    border: 1px solid black;
    padding: 1em;
    z-index: 99;
    width: 100%;
}

.menu ul {
    display: flex;
    flex-direction: column;
}

.menu button {
    display: block;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    z-index: 4;
    background-color: inherit;
    font-size: 1em;
}

.menu button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--pink);
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
    transition: opacity 0s, transform 300ms;
    z-index: -1;
}
  
.menu button:hover::after,
.menu button:focus::after{
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

.display-buttons {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.ri-layout-grid-fill:hover,
.ri-layout-grid-line:hover,
.ri-file-list-fill:hover,
.ri-file-list-line:hover {
    color: var(--pink);
}

/*****************
Product Element
******************/

.product {
    overflow: hidden;
    height: fit-content;
}

.product h3 {
    font-family: 'Dancing Script', cursive;
}

.product .image {
    transition: transform .2s;
    overflow: hidden;
}

.product .image:hover {
    transform: scale(1.2);
}

.product-grid {
    display:flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.product-grid .image {
    display: block;
    object-fit: cover;
    width: 100%;
    aspect-ratio : 1 / 1;
}

.product-list {
    display:grid;
    grid-template-areas: 
    "image info"
    "buy-button buy-button";
    gap: 30px;
}

.product-list .image {
    width: 200px;
    aspect-ratio : 1 / 1;
}
.product-list .image-container {
    grid-area: image;
}

.info-product {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.1em;
    gap: 10px;
    text-overflow: ellipsis;
    background-color: var(--color-1);
    color: black;
    z-index: 10;
    grid-area: info;
}

.product-grid h3 {
    font-size: 1.5em;
}

.info-product.grid {
    padding: .3em .2em;
}

.info-product.list {
    padding: .4em .2em;
}

.cost{
    font-weight: bold;
    color:black;
    font-size: 1.4em;
}

.description {
    text-overflow: ellipsis;
    overflow: hidden;
}



.go-back-arrow {
    font-size: 1em;
    color: var(--color-3);
    padding: .5em;
}

.buy-product-button {
    width: fit-content;
    grid-area: buy-button;
    margin: 0 auto;
    cursor: pointer;
    padding: .5em 1em;
    font-size: 1em;
    background-color: var(--pink);
    color: var(--color-1);
    font-weight: bold;
    letter-spacing: 3px;
    z-index: 10;
    border: 2px solid var(--pink);
}

.buy-product-button:hover {
    background-color: var(--color-1);
    color: var(--pink);
}


/*****************
Media
******************/

@media (min-width:625px){
    .products-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .product-list {
        max-height: 300px;
        grid-template-rows: auto 60px;
        grid-template-columns: 300px auto;
        grid-template-areas: 
        "image info"
        "image buy-button";
    }
    .product-list .image {
        width: 100%;
    }
    .buy-product-button {
        margin: 0;
    }
}

@media (min-width:900px){

    .products {
        flex-direction: row;
    }

    .product-container {
        width: 1024px;
    }

    .product-list h3 {
        font-size: 2.5em;
    }
    .product-grid h3 {
        font-size: 2em;
    }
}


@media (min-width:1550px){
    .products-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 1080px) {
    .buy-product-button {
        font-size: 1.3em;
    }
}